
@using WebNetCore.Models;
@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>By ViewBag : @ViewBag.coname</p>
        <p>By TempData : @TempData["con"]</p>
        <p>By ViewData : @ViewData["con1"]</p>
    </div>
